@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

/* MOBILE FIRST */

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", Arial, Helvetica, sans-serif;
}

header {
    background-color: #DE2C33;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
}
.wrapper img {
    padding-left: 1em;
    width: 10vw;
}
body {
    background-color: rgb(232, 238, 241, 0.1);
}
.wrapper  {
    max-width: 95%;
    margin: auto;
    padding-left: 1em;
}


.red-btn {
    padding: 1em;
    background-color: #DE2C33;
    color: white;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
}

/* index */
#login-page h1{
    max-width: 330px;
    margin: auto;
    margin-bottom: 1em;
}
#login-page form input {
    background-color: #E8EEF1;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
    padding: 1em;
    margin: 0.2em 0 1.2em 0;
    height: 2em;
    width: 300px;
}
/* ny boknings-sidan */
#booking-page form input {
    background-color: #E8EEF1;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
    padding: 1em;
    margin: 0.2em 0 1.2em 0;
    max-height: 2em;
    max-width: 300px;
}

#pincode {
    font-style: italic;
}

footer {
    background-color: #E8EEF1;
    padding-left: 1em;
}



/* LAPTOP */
@media screen and (min-width:1024px) {

    .wrapper {
        max-width: 1100px;
        margin: auto;
    }

    .wrapper section {
        background-color: rgb(232, 238, 241, 0.1);
    }

    nav li {
        display: inline;
    }

}