@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

/* MOBILE FIRST */

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", Arial, Helvetica, sans-serif;
}

header {
    background-color: #DE2C33;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
}
.wrapper img {
    width: 10vw;
}




.red-btn {
    padding: 1em;
    background-color: #DE2C33;
    color: white;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
}

/* index */

#login-page h1 {
    max-width: 330px;
    margin-bottom: 1em;
}

#pincode {
    font-style: italic;
}

footer {
    background-color: #E8EEF1;
}

/* LAPTOP */
@media screen and (min-width:1024px) {

    .wrapper {
        max-width: 1100px;
        margin: auto;
    }

    .wrapper section {
        background-color: rgb(232, 238, 241, 0.1);
    }

    nav li {
        display: inline;
    }

}