@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

/* MOBILE FIRST */

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", Arial, Helvetica, sans-serif;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
h1 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 1em;
}
p {
    font-size: 16px;
}

header {
    background-color: #DE2C33;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 2em;
}

/* MENY NAV */
/*navigationen + listan*/
nav {
    background-color: #DE2C33;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    width: 350px;
    display: none;
}

nav ul {
    width: 100%;
    top: 5em;
    position: absolute;
    list-style-type: none;
    text-align: left;
    margin: 0 auto;
    padding: 0;
}

nav li {
    text-transform: uppercase;
    padding: 1em;
    width: 100%;
}

nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 700;
    padding: 0 1em;
}

nav li:hover {
    color: #6C757D;
    text-decoration: underline;
    cursor: pointer;
}

/* öppna meny-knapp */
.menu-btn {
    position: absolute;
    right: 3em;
    top: 0;
    display: flex;
    align-items: center;
    background-color: #DE2C33;
    cursor: pointer;
}
.open {
    margin: 1em 1.5em;
    padding: 10px 15px;
}
.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 1em 0 1em 1em;
    background-color: white;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
    width: 350px;
    height: 10vh;
}

.menu-btn:hover {
    cursor: pointer;
}

.menu-icon {
    margin-right: 10px;
}

.wrapper img {
    padding-left: 1em;
    width: 40vw;
}
body {
    background-color: rgb(232, 238, 241, 0.1);
}
.wrapper  {
    max-width: 95%;
    margin: auto;
    padding-left: 1em;
}

.red-btn {
    padding: 1em;
    background-color: #DE2C33;
    color: white;
    font-weight: bold;
    font-size: 16px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}
.red-btn:hover {
    cursor: pointer;
}

/* INDEX */
#login-page h1{
    max-width: 330px;
    margin: auto;
    margin-bottom: 1em;
}
#login-page form input {
    background-color: #E8EEF1;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
    padding: 1em;
    margin: 0.2em 0 1.2em 0;
    height: 2em;
    width: 300px;
}
#pincode {
    font-style: italic;
}

#login-page .contact-nr {
    margin-top: 2em
}
/* BOOKING-page */
#booking-page form input {
    background-color: #E8EEF1;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
    padding: 1em;
    margin: 0.2em 0 1.2em 0;
    max-height: 2em;
    max-width: 300px;
}
/* TRIPS-page */
.trips-btn {
    padding: 1em;
    width: 80vw;
    max-width: 1000px;
    margin: 1em auto 1em 0;
    background-color: #DE2C33;
    color: white;
    text-align: left;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}
.trips-btn:hover {
    cursor: pointer;
}

/* CONTACT-page */
#contact-page article {
    margin: 0 0 2em 0;
    line-height: 1.7em;
}
footer {
    background-color: #E8EEF1;
    padding: 1em 0 1em 1em;
    margin-top: auto;
}
#footer-1 a{
display: block;
padding-top: 1em;
}

#footer-2 a{
    line-height: 1.7em;
    
}


/* LAPTOP */
@media screen and (min-width:1024px) {

    /* MENY */
    .menu-btn {
        display: none;
    }

    #open-menu {
        display: none !important;
    }

    #close-menu {
        display: none !important;
    }

    nav {
        display: block !important;
        position: static;
        height: auto;
        width: auto;
        font-size: 1.2em;
    }

    nav ul {
        text-align: right;
        position: static;
        height: 100%;
    }

    nav li {
        display: inline;
        text-transform: uppercase;
        font-weight: bold;
        padding: 1em;
    }

    nav a {
        color: rgb(255, 255, 255);
        text-decoration: none;
        font-weight: 600;
        font-size: 1em;
    }

    nav a:hover {
        color: #6C757D;
    }

    .wrapper {
        max-width: 1100px;
        margin: auto;
    }

    .wrapper section {
        background-color: rgb(232, 238, 241, 0.1);
    }
}